/* .step-four {
  background-color: aquamarine;
} */

.progress--step-four {
  width: calc(100% * 4 / 5);
}

.brief-title.brief-title--step-4 {
  margin-left: -72px;
}

.s-four-icon-1 {
  width: 17px;
  height: 30px;
  fill: none;
}

.s-four-icon-2 {
  width: 26px;
  height: 26px;
  fill: none;
}

.s-four-icon-3 {
  width: 26px;
  height: 26px;
  fill: none;
}