@import '_normalize.css';
@import '_fonts.css';
@import '_global.css';
@import '_first_interactive_block.css';

/* overall start---------------*/
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* overall end---------------*/

/* components start---------------- */
.brief-section {
  color: #333;
  padding-top: 102px;
  padding-bottom: 102px;
}

.wrapper {
  max-width: 1440px;
  background-color: white;
  margin: 0 auto;
}

.brief-section__count {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
  margin-left: 64px;
}

.brief-title {
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  margin-left: 65px;
  margin-bottom: 95px;
}

.brief-title__bold {
  font-weight: 800;
}

.brief-list-wrapper {
  max-width: 1336px;
  margin: 0 auto;
}

.brief-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  counter-reset: section;
  position: relative;
  z-index: 100;
}
/*
.brief-list li {
  width: 309px;
  height: 304px;
  margin: 12px;
  background-color: #f9f9f9;
} */

/* .brief-list li:first-child,
.brief-list li:last-child {
  background-color: #1b91e3;
} */



.brief-list__content {
  position: relative;
  z-index: 1;
  display: block;
  /* height: 100%; */
  cursor: pointer;
  overflow: hidden;
  width: 309px;
  min-height: 304px;
  margin: 12px;
  background-color: #f9f9f9;
  transition: background-color 0.2s ease-out;
}

.brief-list__content:hover {
  background-color: #1b91e3;
  transition: background-color 0.2s ease-out;
}
.brief-list__content:hover span {
  visibility: hidden;
}

.brief-list__content::after {
  position: absolute;
  top: 225px;
  left: 27px;
  content: '0' counter(section);
  counter-increment: section;
  font-style: normal;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-transform: uppercase;
  /* color: #ffffff;
  opacity: 0.3; */
  opacity: 0.7;
  color: #ececec;
  z-index: -1;
}

/* .brief-list__content--1::before {
  content: '';
  position: absolute;
  width: 29px;
  height: 32px;
  left: 24px;
  top: 24px;
  background-image: url('../img/brief-list-icon-1.svg');
} */

/* .brief-list__content--2::before {
  content: '';
  position: absolute;
  width: 29px;
  height: 24px;
  left: 24px;
  top: 24px;
  background-image: url('../img/brief-list-icon-2.svg');
  transition: 0.15s ease-out;
  will-change: transform;
} */

.brief-icon-1 {
  position: absolute;
  width: 29px;
  height: 33px;
  left: 24px;
  top: 24px;
  fill: #1b91e3;
  /* stroke: #333; */
  transition: 0.15s ease-out;
  will-change: transform;
}

.brief-icon-2 {
  position: absolute;
  width: 29px;
  height: 24px;
  left: 24px;
  top: 24px;
  transition: 0.15s ease-out;
  will-change: transform;
}

.brief-list__content--1:hover .brief-icon-1,
.brief-list__content--2:hover .brief-icon-2 {
  fill: #fff;
  stroke: #fff;
  transform: scale(1.2);
  transition: 0.15s ease-out;
}

.brief-list__content--3::before {
  content: '';
  position: absolute;
  width: 29px;
  height: 29px;
  left: 24px;
  top: 24px;
  background-image: url('../img/brief-list-icon-3.svg');
}

.brief-list__content--4::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 37px;
  left: 24px;
  top: 24px;
  background-image: url('../img/brief-list-icon-4.svg');
}

.brief-list__content--5::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 33px;
  left: 24px;
  top: 24px;
  background-image: url('../img/brief-list-icon-5.svg');
}

.brief-list__content--1 .span-0 {
  position: relative;
  padding: 22px 34px;
  top: 147px;
  margin-left: 81px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #1b91e3;
  background-color: #fff;
}

.brief-list__content--1 .span-1,
.brief-list__content--2 .span-1,
.brief-list__content--3 .span-1,
.brief-list__content--4 .span-1,
.brief-list__content--5 .span-1 {
  position: relative;
  top: 102px;
  margin-left: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #333333;
  opacity: 0.5;
}

.brief-list__content--1 .span-2,
.brief-list__content--2 .span-2,
.brief-list__content--3 .span-2,
.brief-list__content--4 .span-2,
.brief-list__content--5 .span-2 {
  position: relative;
  top: 146px;
  left: 32px;
  margin-left: -69px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  color: #333333;
}

.cta-btn {
  width: 309px;
  min-height: 304px;
  text-align: left;
  background-color: #1b91e3;
  transition: background-color 0.2s ease-out;
}


.cta-btn .span-1 {
  position: relative;
  bottom: 16px;
  margin-left: 49px;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;
}

.cta-btn .span-2 {
  position: relative;
  top: 25px;
  left: 49px;
  margin-left: -170px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
}

.cta-btn:hover {
  color: #333; /*--------------------------------cascade*/
  background-color: #f9f9f9;
  transition: background-color 0.2s ease-out;
}

.cta-btn:hover .span-1,
.cta-btn:hover .span-2 {
  color: #333;
}

