@import '_normalize.css';
@import '_fonts.css';
@import '_global.css';

/* overall start---------------*/
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* overall end---------------*/

/* components start---------------- */
.brief-section {
  color: #333;
  padding-top: 102px;
}

.wrapper {
  max-width: 1440px;
  background-color: white;
  margin: 0 auto;
}

.brief-section__count {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
  margin-left: 64px;
}

.brief-title {
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  margin-left: 65px;
  margin-bottom: 95px;
}

.brief-title__bold {
  font-weight: 800;
}

.brief-list-wrapper {
  max-width: 1336px;
  margin: 0 auto;
}

.brief-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.brief-list li {
  cursor: pointer;
  width: 309px;
  height: 304px;
  margin: 12px;
  background-color: #f9f9f9;
}

.brief-list li:first-child,
.brief-list li:last-child {
  background-color: #1b91e3;
}

.cta-btn {
  width: 309px;
  height: 304px;
}

.brief-list__content--1 {
  position: relative;
  padding: 22px 34px;
  top: 147px;
  margin-left: 81px;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #1b91e3;
  background: #fff;
}

.brief-list__content--2 {
}

.brief-list__content--3 {
}

.brief-list__content--4 {
}

.brief-list__content--5 {
}
